.Wrapper {
          padding: 0 120px;
          margin-top: 2rem;
}

.title {
          font-family: Cormorant Garamond;
          font-size: 42px;
          line-height: 120%;
          letter-spacing: 0.03em;
          text-transform: uppercase;
          color: #000000;
}
.taype{
          font-family: Cormorant Garamond;
font-size: 36px;
line-height: 100%;
letter-spacing: 0.03em;
text-transform: uppercase;
margin-top: 40px;
margin-bottom: 0;
color: #000000;
}