.wrapper {
          margin-top: 60px;

}

.title {
          font-family: Cormorant Garamond;
          font-size: 36px;
          line-height: 100%;
          letter-spacing: 0.03em;
          text-transform: uppercase;
          color: #333333;
          width: 543px;
}

.Block_Wrapper {
          display: flex;
          margin-top: 2rem;
          width: 80%;
          justify-content: space-between;
}
.Block p {
          font-family: HelveticaNeueCyr;
          font-size: 16px;
          line-height: 150%;
          width: 500px;
}

.social_Network_Wrapper {
          display: flex;
}

.Block2 {
          width: 400px;
          background: #F8F3EF;
          padding: 50px 60px;
          box-sizing: border-box;
}

.Input {
          outline:none;
          box-sizing: border-box;
          padding: 10px ;
          width: 280px;
          height: 50px;
          margin: 7.5px 0;
}

.button {
          background: #B71C1C;
          width: 280px;
          height: 56px;
          margin-top: 10px;
          color: white;
          border: none;
}