.Map {
          width: 50%;
          height: 370px;
}

.Wrapper {
          margin-top: 100px;
          justify-content: space-between;
}

.Wrapper,
.Block2_Map,
.Block2_Map_Adress,
.Drop_Header {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
}

.Block2 {
          height: 370px;
          width: 50%;
          background-color: #333333;
}

.Block2_Title {
          font-family: Cormorant Garamond;
          font-size: 36px;
          line-height: 100%;
          letter-spacing: 0.03em;
          text-transform: uppercase;
          color: #FFFFFF;
          margin-top: 59px;
          text-align: center;
}

.Block2_Map {
          width: 70%;
          margin: 31px auto 0 auto;
          justify-content: space-between;
}

.Block2_Map_Adress {
          width: 40%;
          justify-content: center;
}

.Block2_Map_Adress p {
          font-family: HelveticaNeueCyr;
          font-size: 18px;
          margin: auto 0;
          color: white;
          width: 160px;
          margin-left: 16px;
}

.соцсетях {
          font-family: HelveticaNeueCyr;
          font-weight: 550;
          width: 63%;
          margin: 30px auto 0 auto;
          font-size: 21px;
          line-height: 130%;
          color: #FFFFFF;
}

.Block2_url {
          font-family: HelveticaNeueCyr;
          font-size: 16px;
          line-height: 130%;
          text-decoration-line: underline;
          color: #FFFFFF;
          margin-left: 15px;
}

.Drop_Header {
          border-top: 2px solid grey;
          padding: 45px 0;
          width: 100%;
          margin: 32px 140px 0px 140px;
          box-sizing: border-box;
          justify-content: space-around;
}

.Drop_block1 {
          width: 460px;
}

.Drop_block1,
.Drop_block2,
.Drop_block3 {
          font-family: HelveticaNeueCyr;
          font-size: 13px;
          line-height: 130%;
          color: #333333;
}

.Drop_block2 {
          width: 123px;
}

.Drop_block3 {
          width: 190px;
}

@media (min-width:0) and (max-width:650.9px) {
          .Map {
                    width: 95%;
                    height: 443px;
                    margin: 0 auto;
          }

          .Wrapper {
                    margin-top: 50px;
          }

          .Block2 {
                    width: 95%;
                    box-sizing: border-box;
                    padding: 2rem 0;
                    height: auto;
                    margin: 0 auto;
          }

          .Block2_Title {
                    font-size: 20px;
                    line-height: 110%;
                    margin-top: 1rem;
          }

          .Block2_Map {
                    width: 80%;
                    margin: 31px auto 0 auto;
          }

          .Block2_Map_Adress {
                    width: 100%;
                    margin: 7px auto;
                    justify-content: center;
          }

          .Block2_Map_Adress p {
                    font-size: 16px;
                    margin: auto 0;
                    color: white;
                    width: 160px;
                    margin-left: 13px;
          }

          .соцсетях {
                    width: 90%;
                    margin: 10px auto 0 auto;
                    font-size: 17px;
                    text-align: center;
          }

          .Block2_url {
                    font-family: HelveticaNeueCyr;
                    font-size: 16px;
                    line-height: 130%;
                    text-decoration-line: underline;
                    color: #FFFFFF;
                    margin-left: 15px;
                    width: 50%;
          }

          .Drop_Header {
                    border-top: 2px solid grey;
                    padding: 25px 0;
                    width: 90%;
                    margin: 1rem auto;
                    box-sizing: border-box;
                    justify-content: space-around;
          }

          .Drop_block1 {
                    margin-bottom: 1.5rem;
                    width: 100%;
          }

          .Drop_block1,
          .Drop_block2,
          .Drop_block3 {
                    font-family: HelveticaNeueCyr;
                    font-size: 13px;
                    line-height: 130%;
                    color: #333333;
                    text-align: center;
          }

          .Drop_block2 {
                    width: 40%;
          }

          .Drop_block3 {
                    width: 55%;
          }
}

@media(min-width:651px) and (max-width:1259.9px) {
          .Map {
                    width: 100%;
          }

          .Wrapper {
                    margin-top: 50px;
          }
          .Block2 {
                    height: auto;
                    width: 100%;
          }

          .Block2_Title {
                    font-size: 26px;
                    margin-top: 39px;
          }

          .Block2_Map {
                    width: 90%;
                    margin: 31px auto 1.5rem auto;
          }

          .Block2_Map_Adress {
                    width: 40%;
          }

          .Block2_Map_Adress p {
                    font-size: 18px;
                    margin: auto 0;
                    width: 160px;
          }

          .соцсетях {
                    width: 100%;
                    text-align: center;
                    margin: 20px auto 0 auto;
                    font-size: 18px;
          }

          .Block2_url {
                    font-size: 16px;
                    margin-left: 15px;
          }

          .Drop_Header {
                    padding: 45px 0;
                    width: 100%;
                    margin: 25px 10px;
          }

          .Drop_block1 {
                    width: 100%;
                    margin-bottom: 2rem;
          }

          .Drop_block1,
          .Drop_block2,
          .Drop_block3 {
                    text-align: center;
          }

          .Drop_block2 {
                    width: 45%;
          }

          .Drop_block3 {
                    width: 45%;
          }
}
@media (min-width:1260px) and (max-width:1300.9px){
          .Block2_Title {
                    font-size: 26px;
          }
          .Block2_Map_Adress {
                    width: 49%;
          }
          .Block2_Map {
                    width: 90%;
                    margin: 31px auto 0 auto;
          }
          .Drop_Header {
                    width: 100%;
                    margin: 32px 90px;
          }
}