.Wrapper{
          margin: 50px 0 20px 0;
}
.Title{
          width: 700px;
font-family: Cormorant Garamond;
font-size: 36px;
margin-bottom: 2.5rem;
line-height: 100%;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #333333;
}
.Video_Block1{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.Video_Block1_1{
  width: 48%;
}
.Video_Block1_1 video{
  width: 100%;
}
.Video_Block2{
  width: 48%;
display: flex;
align-items:center;
justify-content: center;
}
.Video_Block2 p{
  font-family: HelveticaNeueCyr;
  font-weight: 550;
  font-size: 18px;
  line-height: 130%;
  width: 360px;

}
.MutedVIDEO{
width: 100% !important;
}
.model2{
  width: 70% !important;
}
@media (min-width:0) and (max-width: 600.9px){
  .Title{
    max-width: 100%;
font-size: 20px;
margin-bottom: 1.5rem;
line-height: 110%;
text-align: center;
}
.Wrapper{
  margin: 0 0.4rem;
}
.Video_Block1_1{
  width: 100%;
}
.Video_Block2{
  width: 100%;
}
.Video_Block1{
  margin-top: 1rem;
}
}
@media (min-width:601px) and (max-width: 1000.9px){
  .Title{
    max-width: 100%;
font-size: 30px;
margin-bottom: 1.5rem;
line-height: 110%;
text-align: center;
}
.Video_Block1{
  margin-top: 1rem;
}
.Wrapper{
  margin: 0 1rem;
}
}