*{
          box-sizing: border-box;
}
.Wrapper{
          display: flex;
          margin-top: 70px;
          flex-wrap: wrap;
          justify-content: space-between;
}
.block{
          border: 1px solid #333333;
width: 260px
;
          text-align: center;
}
.block img{
          margin: 0.5rem 0 ;
}
.block div{
          margin-bottom: 0.5rem;
}
@media screen and (max-width: 1170px) {
          .Wrapper{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
          }    
          .block{
          width: 260px;
          margin: 1rem ;
          }
}